* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

hr {
    height:0;
    width:50px;
    border-style: dotted none none  ;
    border-width: 10px;
    display:inline-block;
    margin: 100px auto;
}

body {
    background-color: #DACC96;
    font-family: sans-serif;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E
}

h1{
    font-family: 'Sacramento', cursive;
    font-size:8rem;
    margin: 150px auto 0 auto;
    color:#9D5353;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#9D5353;
    font-weight: normal;
    margin: 50px auto;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#9D5353;
    margin: 25px auto;
}

p{
    font-size: 1.5rem;
}

a{
    color:#11999E;
}

.text-underline{
    text-decoration: underline;
}

.top-container{
    position:relative;
    padding:20px;
    padding-top:100px;
}

.top-cloud{
    position:absolute;
    top:150px;
    left:1000px;
    width:300px;
}

.bottom-cloud{
    position:absolute;
    right:60%;
    top: 600px;
    width:300px;
}

.mountain{
    position:static;
    width:1000px;
    height:auto;
    margin-top:50px;
}

.middle-container{
    /*background-color: blue;*/
}

.middle-container img{
    width:25%;
}

.bottom-container{
    background-color: #BF8B67;
}

.bottom-container a{
    display:inline-block;
    padding: 30px;
}

.bottom-container p{
    display:block;
    padding-bottom: 50px;
}


.javaimg{

}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height: 2;
    
}

.skill-row img{
    width:25%;
    
}

.profileimg {
    border-radius: 50%;
    padding:100px;
}

.javaimg{
    float:left;
    margin-right:30px;
}

.webdevimg {
    float:right;
    margin-left:30px;
}

.btn {
    background: #DACC96;
    background-image: -webkit-linear-gradient(top, #DACC96, #BF8B67);
    background-image: -moz-linear-gradient(top, #DACC96, #BF8B67);
    background-image: -ms-linear-gradient(top, #DACC96, #BF8B67);
    background-image: -o-linear-gradient(top, #DACC96, #BF8B67);
    background-image: linear-gradient(to bottom, #DACC96, #BF8B67);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    display:inline-block;

    margin:75px;
  }
  
  .btn:hover {
    background: #f0d77a;
    background-image: -webkit-linear-gradient(top, #f0d77a, #d4814a);
    background-image: -moz-linear-gradient(top, #f0d77a, #d4814a);
    background-image: -ms-linear-gradient(top, #f0d77a, #d4814a);
    background-image: -o-linear-gradient(top, #f0d77a, #d4814a);
    background-image: linear-gradient(to bottom, #f0d77a, #d4814a);
    text-decoration: none;
  }